body{
    background-color: #f9f9f9;
    margin: 0px auto;
    font-family: 'Maven Pro', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.game-title h1{
text-align: center;
font-size: 50px;
font-weight: bolder;
background-color: #ffdf00;
padding: 40px;
border-radius: 90px;
margin-top: 20px;

}

.game-title p{
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

.gameplay-ui{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
}

.player-ui{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 330px;
    border-radius: 20px;
    background-color: #1c79ed;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}



.score-ui h1{

padding: 0px;
    margin: 0px;

}
.score-ui{
    
    font-size: 35px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 280px;
    border-radius: 40px;    
    border: #3dd900 solid 18px;


}

.info{
    font-family: 'Inter', sans-serif;

font-size: 15px;
text-align: center;


}
.player-ui h1{

    align-self: flex-start;
    text-align: left;
    margin: 0px;
    margin-left: 40px;
    padding: 0px;

}

.computer-ui{

    display: flex;
    flex-direction: column;
    width: 330px;
    height: 330px;
    border-radius: 20px;
    background-color: #e10000;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.computer-ui h1{

    align-self: flex-start;
    text-align: left;
    margin: 0px;
    margin-left: 40px;
    padding: 0px;
}
.inputs button{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    text-decoration: none;
    height: 120px;
    width: 120px;
    background-color:#3dd900;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.inputs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    border-radius: 40px;    
    padding: 40px;
    border: #3dd900 solid 15px;
    gap: 90px;
}

#choice-text {
    margin-top: 30px;
    position: absolute;
    width: 400px;
    border-radius: 70px;
    text-align: center;
    padding: 2px;
    background-color: #3dd900;
}

#choice-text h1 {
font-size: 30px;
}

.player-buttons{

    display: flex;
    justify-content: center;
}

footer{

font-family: 'Inter', sans-serif;
font-weight: 900;
display: flex;
justify-content: space-evenly;
gap: 10px;
margin-top: 30px;
}